li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  color: #272727;
  overflow: auto;
  background-color: #fff;
  overflow-x: hidden;
  box-sizing: border-box;
}

nav {
  background-color: #fff;
}
nav .cart-button-nav {
  font-size: small;
}

.logo {
  width: 120px;
}

.homepage-background {
  height: 80vh;
  background: url("../img/homepage/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg") no-repeat center/cover;
}
.homepage-background .fadeIn-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #272727;
  animation: openCurtain 3.5s forwards;
  animation-delay: 1s;
}
.homepage-background .fadeIn-left img {
  animation: logoFade 2s forwards;
  animation-delay: 1s;
}
@keyframes logoFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes openCurtain {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
    display: none;
  }
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1;
  width: 35vw;
  transform: translateX(110%);
  transition: all 0.3s linear;
}
.cart .close-cart {
  cursor: pointer;
}
.cart .cart-image {
  width: 100px;
}
.cart .item-quantity {
  width: 50%;
}
.cart .remove-cart-item {
  width: 40px;
  height: 40px;
}
.cart .purchase-button {
  background-color: #f2b31b;
  color: #fff;
}

.display-cart {
  transform: translateX(0);
}

.card {
  position: relative;
}
.card .item-price {
  position: absolute;
  top: 50%;
  color: #f2b31b;
  background-color: #272727;
  padding: 5px;
  transform: translateX(-101%);
  opacity: 0;
  transition: all 0.3s linear;
}

.card:hover .item-price {
  transform: translateX(0);
  opacity: 1;
}

.cart-notification-add {
  position: fixed;
  top: 60;
  left: 0;
  transition: all 0.2s linear;
  visibility: hidden;
  transform: translateX(-101%);
  color: #f2b31b;
  background-color: #272727;
  padding: 5px;
  z-index: 3;
}

.cart-notification-remove {
  position: fixed;
  top: 60;
  left: 0;
  transition: all 0.2s linear;
  visibility: hidden;
  transform: translateX(-101%);
  color: #f2b31b;
  background-color: #272727;
  padding: 5px;
  z-index: 3;
}

.cart-notification-purchase {
  position: fixed;
  top: 60;
  left: 0;
  transition: all 0.2s linear;
  visibility: hidden;
  transform: translateX(-101%);
  color: #f2b31b;
  background-color: #272727;
  padding: 5px;
  z-index: 3;
}

.cart-notification-active {
  visibility: visible;
  transform: translateX(0);
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(35, 5vw);
  grid-gap: 15px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery-item-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery-item-3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery-item-4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 12;
}

.gallery-item-5 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 12;
}

.gallery-item-6 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 12;
}

.gallery-item-7 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 12;
  grid-row-end: 18;
}

.gallery-item-8 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 12;
  grid-row-end: 18;
}

.gallery-item-9 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 18;
  grid-row-end: 23;
}

.gallery-item-10 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 18;
  grid-row-end: 23;
}

.gallery-item-11 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 18;
  grid-row-end: 23;
}

.gallery-item-12 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 23;
  grid-row-end: 35;
}

.gallery-item-13 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 28;
  grid-row-end: 35;
}

.gallery-item-14 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 23;
  grid-row-end: 28;
}

.error-notification {
  color: red;
  padding: 5px;
}

.form-submit-button {
  background-color: #272727;
  color: #fff;
}

.form-submit-button:hover {
  color: #f2b31b;
}

.weather-button {
  background-color: #272727;
  color: #fff;
}

.weather-button:hover {
  color: #f2b31b;
}

.form-notification {
  position: fixed;
  top: 60;
  left: 0;
  transition: all 0.2s linear;
  visibility: hidden;
  transform: translateX(-101%);
  color: #f2b31b;
  background-color: #272727;
  padding: 5px;
  z-index: 3;
}

.form-notification-active {
  visibility: visible;
  transform: translateX(0);
}

@media screen and (max-width: 768px) {
  .cart-button-nav {
    width: 10%;
  }

  .cart {
    width: 100%;
  }

  .gallery-grid {
    grid-template-rows: repeat(36, 5vw);
  }

  .gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .gallery-item-2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .gallery-item-3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 11;
  }

  .gallery-item-4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 11;
  }

  .gallery-item-5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 16;
  }

  .gallery-item-6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 11;
    grid-row-end: 16;
  }

  .gallery-item-7 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 16;
    grid-row-end: 21;
  }

  .gallery-item-8 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 16;
    grid-row-end: 21;
  }

  .gallery-item-9 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 21;
    grid-row-end: 26;
  }

  .gallery-item-10 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 21;
    grid-row-end: 26;
  }

  .gallery-item-11 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 26;
    grid-row-end: 31;
  }

  .gallery-item-12 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 26;
    grid-row-end: 31;
  }

  .gallery-item-13 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 31;
    grid-row-end: 36;
  }

  .gallery-item-14 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 31;
    grid-row-end: 36;
  }

  .form-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-content .form-content-form {
    width: 100%;
  }
  .form-content .form-content-image {
    width: 100%;
  }

  .weather-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .weather-content .weather-content-overlay {
    width: 100%;
    margin-bottom: 2rem;
  }
  .weather-content .weather-content-info {
    width: 95%;
  }
  .weather-content .weather-info {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.weather-overlay {
  background: url("../img/booking/weather-image-cape.jpg") center/cover no-repeat;
  width: 100%;
  height: 300px;
  color: #fff;
}

footer span {
  color: #f2b31b;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
