@use "config" as *;

* {
  padding: 0;
  margin: 0;
}

body {
  @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  color: $dark-color;
  overflow: auto;
  background-color: $light-color;
  overflow-x: hidden;
  box-sizing: border-box;
}

// Navbar
nav {
  background-color: $light-color;
}
.logo {
  width: 100px;
}

// Cart
.cart {
  position: absolute;
  top: 20;
  right: 0;
  height: 100vh;
  z-index: 1;
  width: 35%;
  transform: translateX(100%);
  transition: all 0.3s linear;

  .close-cart {
    cursor: pointer;
  }
  .cart-image {
    width: 100px;
  }

  .item-quantity {
    width: 50%;
  }
  .remove-cart-item {
    width: 40px;
    height: 40px;
  }
}

.display-cart {
  transform: translateX(0);
}

.item-price {
  display: none;
  opacity: 0;
}

.show-price-animation {
  display: block;
  opacity: 1;

  background-color: aqua;
}

// Home
.homepage-background {
  height: 80vh;

  background: url("/img/homepage/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg")
    no-repeat center center/cover;
}

// Gallery
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(35, 5vw);
  grid-gap: 15px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery-item-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery-item-3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery-item-4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 12;
}

.gallery-item-5 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 12;
}

.gallery-item-6 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 12;
}

.gallery-item-7 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 12;
  grid-row-end: 18;
}
.gallery-item-8 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 12;
  grid-row-end: 18;
}
.gallery-item-9 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 18;
  grid-row-end: 23;
}
.gallery-item-10 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 18;
  grid-row-end: 23;
}

.gallery-item-11 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 18;
  grid-row-end: 23;
}
.gallery-item-12 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 23;
  grid-row-end: 35;
}
.gallery-item-13 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 28;
  grid-row-end: 35;
}
.gallery-item-14 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 23;
  grid-row-end: 28;
}

.gallery-item {
  transition: transform 0.2s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.5);
}

// Booking Form

@media screen and (max-width: 900px) {
  .form-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-content-form {
      width: 100%;
    }

    .form-content-image {
      width: 100%;
    }
  }
  .weather-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .weather-content-overlay {
      width: 100%;
    }

    .weather-content-info {
      width: 100%;
    }

    .weather-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 2rem;
    }
  }
}

.weather-overlay {
  background: url("../img/booking/weather-image-cape.jpg") center/cover
    no-repeat;
  width: 100%;
  height: 300px;
  color: $light-color;
}

// Footer
footer {
  background-color: $light-color;
  span {
    color: $main-color;
    font-weight: bold;
  }
}
